* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
* p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    display: block;
  }
}
.container .form-group p {
  font-weight: 500;
  font-size: 24px;
  color: #9a9a9a;
}
.container .form-group button {
  background-color: #6200EE;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
}