.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .card-img {
    background: #cfcfcf;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    img {
      width: 80%;
      display: inline-block;
      transform: translate(15%, 0px);
      overflow: hidden;
    }
  }
  .card-body {
    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
      height: 24px;
      display: inline-block;
    }
    .card-body-content {
      display: flex;
      justify-content: space-between;
      &.content-price{
        font-size: 18px;
      }
      p {
        font-size: $fs-md;
        .fa-heart {
          color: red;
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row-reverse;
      .btn-buy {
        width: 100%;
        margin-top: 20px;
        background: #1890ff;
        color: $color-1;
        padding: 6.5px 40px;
        font-size: 16px;
        border: none;
        border-color: #1890ff;
      }
    }
  }
}
