header.wrapper {
  .navbar {
    .collapse {
      .frm-search {
        position: relative;
      }
      .navbar-nav {
        .nav-item {
          .cart-product {
            .fa-cart-shopping {
              font-size: 20px;
              line-height: 1;
              margin-left: 8px;
              margin-right: 4px;
            }
          }
          .nav-search {
            font-weight: 300;
            font-size: 30px;
            line-height: 0.8;
            color: #fff;
            .icon-search {
              font-size: 26px;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
  .menu-cat {
    .navbar-cat {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 16px 0 25px;
      padding-left: 0px;
      .nav-item {
        padding-right: 24px;
        a {
          color: #000;
          text-decoration: none;
          &.actived {
            border-bottom: #000 0.125em solid;
          }
        }
      }
    }
  }
}
