.carts {
  .title-header {
    margin-top: 50px;
  }
  table.table {
    .table-header {
      background: #d9d9d9;
      tr {
        th {
        }
      }
    }
    .table-body {
      tr {
        td {
          &.item-quantity {
            .btn-asc {
              margin-right: 20px;
              padding: 3px 5px;
              background: #1877f2;
              color: $color-1;
              border: none;
              border-radius: 3px;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              -ms-border-radius: 3px;
              -o-border-radius: 3px;
            }
            .btn-desc {
              margin-left: 20px;
              padding: 3px 6px;
              background: #1877f2;
              color: $color-1;
              border: none;
              border-radius: 3px;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              -ms-border-radius: 3px;
              -o-border-radius: 3px;
            }
            p{
              display: inline-block;
            }
            @media screen and (max-width: 768px) {
              .btn-asc, .btn-desc{
                margin: 0px;
              }
              p{
                display: block;
              }
            }
          }
          vertical-align: middle;
          .btn-delete {
            color: $color-1;
            background: #eb5757;
            border: none;
            border-radius: 4px;
            padding: 10px 25px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
          }
        }
      }
    }
  }
  div.form-group {
    margin-top: 40px;
    margin-bottom: 150px;
  }
}
