.container {
  .title-profile {
    font-size: $fs-l;
  }
  .wrapper-profile {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      display: initial;
    }
    .nav-avatar {
      width: calc(100% - 70%);
      img {
        width: 100%;
        padding: 25px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          padding: 50px;
          width: 50%;
        }
      }
    }
    .wrapper-form {
      width: calc(100% - 30%);
      .frm-update {
        margin-top: 37px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      .wrapper-btn-update {
        .ant-row {
          @media screen and (max-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
  .antd-tab-detail {
    margin-bottom: 65px;
    .body-detail {
      .date-generate {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          linear-gradient(180deg, #cb0dc3 0%, #7d0db1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .wrapper-order {
        .table {
          margin-bottom: 90px;
          thead {
            .thead-background {
              background: #d9d9d9;
            }
          }
        }
      }
    }
    .pagination-detail {
      float: right;
    }
  }

  .clearfix {
    clear: right;
    margin-bottom: 103px;
  }
}
