.title-profile {
  padding: 0px 29px;
  width: 545px;
  height: 67px;
  background: linear-gradient(rgb(242, 18, 153) 0%, rgb(27, 2, 181) 100%);
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  line-height: 62px;
}

.container {
  .wrapper-profile {
    .nav-avatar {
      width: 30%;
      img {
        padding: 25px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    .wrapper-form {
      width: 70%;
      .frm-update {
        margin-top: 37px;
      }
    }
  }
  .header-detail {
    margin-bottom: 65px;
  }
  .body-detail {
    .date-generate {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, #cb0dc3 0%, #7d0db1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .table {
      margin-bottom: 90px;
      thead {
        .thead-background {
          background: #d9d9d9;
        }
      }
    }
  }
  .pagination-detail {
    float: right;
  }
  .clearfix {
    clear: right;
    margin-bottom: 103px;
  }
}
