@import '../../base/base';
@import '../../themes/variable';

.home {
  .carousel {
    .container {
      .carousel-inner {
        .carousel-item {
          .d-flex {
            
          //   @media screen and (max-width:576px) {
          //     display: inline;
          // }
            .image {
              img {
              }
            }
            .content {
              @media screen and (max-width:576px) {
                display: none;
            }
              h1 {
                @include text($fw-3, $fs-l, $color-3);
              }
              p {
                @include text($fw-3, $fs-md, $color-3);
              }
              button {
                @include text($fw-2, $fs-md, $color-1);
              }
            }
          }
        }
      }
    }
  }
  .feature{
    .container{
      padding-top: 50px;
      h1{
        @include text($fw-4, $fs-l, $color-1);
        background-color: #F21299;
      }
      .row{
        
        .col-4{
          @media screen and (max-width:992px) {
            width: calc(100% /2 );
        }
        @media screen and (max-width:576px) {
            width: calc(100% /1 );
        }

          
          padding: 20px;
  
          .card{
            background-color: #F8F8F8;
            img{
            }
            .info{
              h3{
                @include text($fw-3, $fs-mds, $color-3);
              }
              p{
                @include text($fw-3, $fs-md, $color-2);
              }
            }
            .d-flex{
              button{
                @include text($fw-3, $fs-mds, $color-3);
                background-color: #E1B067;
                border: none;
                padding: 5px 50px;
        
              }
              p{
                @include text($fw-6, $fs-mds, $color-3);
                background-color: $color-10;
                padding: 5px 50px;
              }
            }
          }
        }
      }
    }
  }
}
