section {
  .wrapper-login {
    .header-login {
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
    }

    .row {
      margin-bottom: 43px;
      .frm {
        .form-group {
          margin-bottom: 10px;
          label {
            padding: 5px 0;
          }
          .form-control {
            padding: 16px 12px 14px 14px;
            background: rgba(33, 33, 33, 0.08);
            border-radius: 4px 4px 4px 4px;
            -webkit-border-radius: 4px 4px 4px 4px;
            -moz-border-radius: 4px 4px 4px 4px;
            -ms-border-radius: 4px 4px 4px 4px;
            -o-border-radius: 4px 4px 4px 4px;
          }
          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #f50e0e;
            padding-bottom: 10px;
          }
          a.register-link {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
          }
          .login-facebook {
            background: #1877f2;
            font-weight: $fw-4;
            line-height: 1;
            font-size: $fs-md;
            width: 100%;
            margin-top: 35px;
            margin-bottom: 10px;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
              0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
            padding: 9px 34px;
            border: none;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            .fa-facebook {
              font-size: 43px;
              margin-right: 32px;
            }
          }
        }
        .btnLoginWrapper {
          text-align: center;
          button.btnLogin {
            padding: 23px 34px;
            width: 100%;
            font-size: 20px;
            background: #1877f2;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
              0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 50px;
            border: none;
            font-weight: 500;
            line-height: 16px;
            color: #fff;
          }
        }
        .changePasswordWrapper {
          margin: 10px 0;
          text-align: right;
          .changePassword-link {
            color: #8e8e8e;
          }
        }
      }
    }
  }
}
