.sidebar {
  padding-right: 6px;
  .sidebarWrapper {
    .sidebarMenu {
      .sidebarTitle {
        h3 {
          @media screen and (max-width: 768px) {
            font-size: 20px;
          }
          @media screen and (max-width: 576px) {
            font-size: 16px;
          }
        }
      }
      .sidebarList {
        .sidebarListTitle {
        }
        .sideBarListItem {
          .ant-checkbox {
            .ant-checkbox-input {
            }
            span {
            }
          }
        }
      }
    }
  }
}
