.sidebar {
  padding-right: 6px;
  .sidebarWrapper {
    .sidebarMenu {
      .sidebarTitle {
        font-size: ($fs-md + 4);
        margin-top: ($mg-4 + 3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          @media screen and (max-width: 768px) {
            font-size: $fs-md;
          }
          @media screen and (max-width: 576px) {
            font-size: $fs-sm;
          }
        }
      }
      .sidebarList {
        .sidebarListTitle {
        }
        .sideBarListItem {
          .ant-checkbox {
            .ant-checkbox-input {
            }
            span {
            }
          }
        }
      }
    }
  }
}
